{% extends "layouts/base.html" %}

{% block content %}

    <div class="c-cover u-mb-64">
        <h1 class="c-cover__title">Crossbones Custom Work</h1>

        <div class="c-cover__logo-wrapper">
            {% set logo = { "class": "c-cover__logo"}%}
            {% include "components/logo.html" %}
            <svg class="c-cover__logo-shape" xmlns="http://www.w3.org/2000/svg" width="175" height="300" viewBox="0 0 175 300" fill="none">
                <path d="M0 233.333V50.0001L29.212 33.3061L87.4981 0L145.788 33.3061L175 50.0001V250L87.4981 300.001L0 250V233.333Z" fill="white"/>
            </svg>
        </div>

        {% image "src/assets/images/cbcw_cover.jpg", "c-cover__img", "Texte alternatif", "auto" %}

        {{ content | safe }}
    </div>

    
    
    

    <h2 class="c-h1 u-text-center u-mb-24" id="works">Works</h2>
    {% include "components/postlist.html" %}

    <div class="u-text-center u-mt-64">
        <h2 class="c-h1 u-mb-24" id="contact">Contact</h2>
        <a class="c-button c-button--primary" href="mailto:">todo@gmail.com</a>
    </div>


    

{% endblock %}

