/*-----------------------------------------------------------------------------------------------------
  [component:content]
-------------------------------------------------------------------------------------------------------*/

.c-link {
    display: inline-block;
    
    &:hover,
    &:focus {
        //text-decoration: none;
        color: black;
        background-color: var(--primary);
    }
}
