/*-----------------------------------------------------------------------------------------------------
  [utilities:spacing]
-------------------------------------------------------------------------------------------------------*/


.u-mb-16 {margin-bottom: 1.6rem;}
.u-mb-24 {margin-bottom: 2.4rem;}
.u-mb-64 {margin-bottom: 6.4rem;}

.u-mt-64 { margin-top: 6.4rem;}

// @each $bp , $bp_value in $breakpoints {
//   @include mq(#{$bp_value}) {
//     .u-mt-4\@#{$bp} { margin-top: 4rem; }
//   }
// }






